.footer-main-div{
    background-color: rgb(229,229,229);
    height: 350px;
    width: 99.2%;
    padding-top: 50px;
    overflow: hidden;
    margin-top: 50px;
}
.dot{
    height: 10px;
    width: 10px;
    background-color: rgb(198,0,0);
    border-radius: 50%;
    display: inline-block;
    margin-top: 10px;
    margin-right: 5px;
}
.footer-nav{display: flex;
    justify-content: center;
    gap: 18px;
    background-color: rgb(240,240,240);
    padding: 20px;
}
.footer-nav div{
    font-size: small;

}
.vert-hr{
    height: 20px;
    border-left: 1px solid rgb(165,165,165);
}