.footer-main-div{
    background-color: rgb(229,229,229);
    height: 350px;
    width: 99.2%;
    padding-top: 50px;
    overflow: hidden;
    margin-top: 50px;
}
.dot{
    height: 10px;
    width: 10px;
    background-color: rgb(198,0,0);
    border-radius: 50%;
    display: inline-block;
    margin-top: 10px;
    margin-right: 5px;
}