* {
  box-sizing: border-box;
}
.booking {
  font-size: 1.5rem;

  font-weight: 400;
  color: #000;
  margin-left: 10%;
}
.outside_box {
  display: flex;
  width: 90%;
  height: 900px;
  /* outline: red solid; */
  margin: 40px auto;
}
.outside_box > :nth-child(1) {
  width: 60%;
  height: 100%;
  /* outline: blue solid; */
}
.outside_box > :nth-child(2) {
  width: 35%;
  height: 90%;
  /* outline: chocolate solid; */
  border: 1px solid rgba(0, 0, 0, 0.125);

  margin-left: 5%;
}
.outside_box > :nth-child(1) > :nth-child(1) {
  position: relative;
  display: flex;
  width: 100%;
  height: 35%;
  /* outline: purple solid; */
  border: 1px solid rgba(0, 0, 0, 0.125);
}
.outside_box > :nth-child(1) > :nth-child(2) {
  width: 100%;
  height: 60%;
  margin-top: 3%;
  /* outline: green solid; */
  border: 1px solid rgba(0, 0, 0, 0.125);
}
.outside_box > :nth-child(2) > :nth-child(1) {
  display: flex;
  align-items: center;
  height: 6%;
  /* outline: solid red; */
  background-color: rgb(247, 247, 247);
}
.outside_box > :nth-child(2) > :nth-child(1) > span {
  color: black;
  margin-left: 5%;
}
.img_holder {
  height: 29%;
  /* outline: red solid; */
}
.img_holder > img {
  width: 100%;
  height: 100%;
}
.info_loc {
  height: 20%;
  border: 1px solid rgba(0, 0, 0, 0.125);
}
.info_loc > h6 {
  margin-left: 10px;
  margin-top: 9px;
  font-size: 25px;
  font-weight: 350;
}
.info_loc > p {
  margin-left: 10px;
  font-size: 15px;
  font-weight: 200;
}
.room_type {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  height: 7%;
  border: 1px solid rgba(0, 0, 0, 0.125);
}
.room_type > p {
  margin-left: 10px;
  font-size: 15px;
  font-weight: 200;
}
.dark {
  font-weight: 300;
}
.ci_co {
  display: flex;
  justify-content: center;

  height: 10%;
  border: 1px solid rgba(0, 0, 0, 0.125);
}
.ci_co > div {
  width: 85%;
  /* outline: solid red; */
}
.left {
  margin-left: 3%;
  font-weight: 200;
}
.zero {
  padding: 0;
  margin: 0;
}
.guests {
  display: flex;
  align-items: center;
  height: 7%;
  border: 1px solid rgba(0, 0, 0, 0.125);
}
.guests > p {
  margin-left: 20px;
  font-weight: 200;
}
.left_iu {
  margin-left: 5px;
  font-weight: 500;
}
.amount {
  height: 10%;
  border: 1px solid rgba(0, 0, 0, 0.125);
}
.amount > div {
  margin-left: 4%;
  margin-top: 2%;
  display: flex;
  width: 80%;
  height: 30%;
  /* outline: solid green; */
  justify-content: space-between;
}
.last {
  /* outline: solid purple; */
  height: 11%;
}
.last > :nth-child(1) {
  display: flex;
  height: 30%;
  width: 90%;
  margin: auto;
  /* outline: black solid; */
  margin-top: 10px;
  justify-content: space-between;
}
.red {
  color: red;
  font-weight: 500;
}
.right_sm {
  margin: auto;
  height: 30%;
  width: 90%;
  text-align: right;
  font-weight: 400;
}
.guest {
  width: 48%;
  /* outline: blue solid; */
  height: 100%;
}
.abhigo {
  width: 48%;
  /* outline: red solid; */
  height: 100%;
  margin-left: 4%;
}
.or {
  position: absolute;
  top: 46%;
  left: 48.9%;
  font-weight: 200;
}
.line1 {
  border-left: 2px solid rgb(232, 236, 239);

  height: 40%;
  position: absolute;
  left: 50%;
  /* margin-left: -3px; */
  /* top: 0; */
  top: 5%;
}
.line2 {
  border-left: 2px solid rgb(232, 236, 239);

  height: 40%;
  position: absolute;
  left: 50%;
  /* margin-left: -3px; */
  /* top: 0; */
  bottom: 5%;
}
.guest > div {
  width: 90%;
  height: 90%;
  margin: auto;
  /* outline: sienna solid; */
  margin-top: 8%;
}
.guest input {
  width: 80%;
  margin-top: 5%;
}
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #04AA6D;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #45a049;
}

a {
  color: #2196F3;
}

hr {
  border: 1px solid lightgrey;
}

span.price {
  float: right;
  color: grey;
}
.payment-successful {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}
.payment-successful > img {
  margin-top: 10%;
  height: 60%;
  border-radius: 10%;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
